.side-content {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  .sideNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    height: 130px;
    border: solid 2px #333333;
    border-radius: 5px;
    .side-image {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 80px;
      height: 80px;
    }
    .sideNav__buttons {
      display: flex;
      flex-direction: column;
      button {
        width: 80px;
        height: 30px;
        margin: 5px;
        color: white;
      }
    }
  }
}
