.todo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 320px;
  border: solid #ff6f61;
  border-radius: 5px;
  overflow-y: auto;
  #todo-title {
    margin: 15px 64px;
    color: #ff6f61;
    font-size: 25px;
    font-weight: bold;
  }
  #todo-list {
    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #ff6f61;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        margin: 3px 8px;
      }
    }
  }
  .closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ff5545;
    cursor: pointer;
  }
}

.todo::-webkit-scrollbar {
  width: 0%;
}

#todo-list li.completed span {
  text-decoration: line-through;
}

#create-todo {
  margin-bottom: 5px;
}

.create-todo-input {
  margin: 3px 10px;
  width: 190px;
  color: #ff6f61;
  background-color: white;
  border: none;
  border-bottom: #ff5545 solid 1px;
}

.create-todo-input:focus {
  outline: none;
}

#todo-delete-button {
  margin: 0 5px 0 1px;
  font-weight: bold;
  border: solid 1px #ff5545;
  background-color: #ff5545;
  color: white;
}

#todo-complete-button,
#todo-button {
  font-weight: bold;
  background-color: white;
  border: solid 1px #ff5545;
  color: #ff5545;
}
