.header {
  width: 60%;
  margin: 60px auto;
  .header__navs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid 0.1px #ff6f61;
    span {
      font-size: 20px;
      font-weight: bold;
      color: #ff6f61;
    }
    .header__nav {
      display: flex;
      flex-direction: row;
      padding: 10px;
      cursor: pointer;
      span {
        margin: 5px;
      }
    }
  }
}
