.header {
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;

  .header__navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 2px solid #333333;

    .header__nav {
      display: flex;
      flex-direction: row;
      padding: 10px;
      cursor: pointer;
      color: #333333;
      font-size: 18px;
      font-weight: 800;

      &:last-child {
        margin-left: auto;
      }

      span {
        color: #333333;
        font-size: 18px;
        font-weight: 800;
        margin: 5px;
      }
    }
  }
}
