.header {
  width: 30%;
  margin: 80px auto;
}

.header__navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid 0.1px;
}

.header__nav {
  padding: 10px;
  cursor: pointer;
}
